body {
    min-width: 320px;
}

.language-dropdown {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 20px !important;
}

#nav {
    display: flex;
    padding: 30px 60px 15px 60px;
    border-bottom: 1px solid #ababab;
}

.i-container {
    max-width: 999px;
    margin: 0 auto;
}

.logo-image {
    max-width: 115px;
}

.banner-section {
    display: flex;
    margin: 50px 0;
    padding: 0 60px;
}

.banner-section .d-flex div {
    flex-basis: 33%;
}

.banner-section .d-flex div img {
    margin: 0 auto;
    display: block;
    min-height: 120px;
}

.banner-section .d-flex div p {
    text-align: center;
    margin-top: 10px !important;
}

.left-section {
    width: 70%;
    padding-left: 10px;
}

.left-section h1 {
    font-size: 21px;
    margin-bottom: 25px;
}

.left-section .d-flex.flex-wrap div a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.left-section .d-flex.flex-wrap div img {
    width: 75% !important;
}

.right-section {
    padding-right: 10px;
}

.right-section p,
h2 {
    position: absolute;
    top: 100%;
    left: 32%;
    transform: translate(-28%, -330%);
    color: #fff;
}

.right-section h2 {
    top: 115%;
    font-size: 31px;
}

.line-header-eng {
    background: url("../assets/images/home page/eng-images/divider.svg") no-repeat !important;
    padding: 10px 0;
}

.line-header p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.line-header h3 {
    margin: 0;
    font-size: 24px;
    color: #68A2B9;
    padding-bottom: 10px;
}

.accordian-section {
    margin: 50px 0;
    max-width: 980px !important;
}

.col-section {
    max-width: 44% !important;
    margin: 0 auto;
}

.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 80px;
    border: none !important;
}

.card-header:first-child {
    z-index: 1;
    border-radius: 0px 100px 100px 100px !important;
}

.card-header {
    background-color: #f7f7f9;
    margin-bottom: -34px !important;
    padding: 5px !important;
    border: none !important;
    background: linear-gradient(90deg, rgba(105, 161, 187, 1) 27%, rgba(129, 183, 191, 1) 46%, rgba(156, 208, 203, 1) 100%) !important;
}

.card-header-eng {
    background: linear-gradient(270deg, rgba(105, 161, 187, 1) 27%, rgba(129, 183, 191, 1) 46%, rgba(156, 208, 203, 1) 100%) !important;
}

.card-header a {
    width: 97%;
    float: left;
    color: #565656;
    text-decoration: none !important;
}

.card-header p {
    margin: 0;
}

.card-header img {
    max-width: 40px;
    margin-left: 8px;
}

.card-header .img-eng {
    margin-right: -12px;
    padding: 5px;
}

.card-header h3 {
    margin: 0 0 0px;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}

.card-header-h3-eng {
    margin-left: 15px !important;
}

.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 65px 24px 24px;
    color: #232323;
    border-radius: 0 0 50px 50px;
    border: 1px solid #72AABA !important;
    border-top: none !important;
}

.card-block button {
    background: linear-gradient(270deg, rgba(105, 161, 187, 1) 27%, rgba(129, 183, 191, 1) 46%, rgba(156, 208, 203, 1) 100%) !important;
    border: none;
    border-radius: 0 100px 100px 100px !important;
    padding: 5px 25px;
    display: block;
    color: #fff;
    margin-top: 25px;
}